doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TEST

     
    body
        header
            h1 TEST
        main
            div
                video#myFace(autoplay,playsinline, width="100%")
              
              

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/test.js")
        script(src="https://webrtc.github.io/adapter/adapter-latest.js")  