#myStream{
    width: 100%;
    display: flex; justify-content: space-around
}

#myFace{
    width: 40%;
    max-width: 400;
}

#peerFace{
    width: 40%;
    max-width: 400;
}

#muteMenu{
    display: flex;
    justify-content: center;
}

#whitespace{
    width: 2%;
}

#changeCameraMenu{

    justify-content: center;
}


#otherVideos{
    text-align: center;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 400px;
}