#myStream, .center_align{
    display: flex;
    align-items: center;
}

#myFace{
    display: inline-block !important;
    width: 120px;
    height: 120px;
    max-width: 400;
}

.inner_center{
    margin-left: auto;
    margin-right: auto;
}

#peerFace{
    width: 240px;
    height: 240px;
    max-width: 400px;
}

#muteMenu{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

#whitespace{
    width: 2%;
}

#changeCameraMenu{
    display: flex;
    justify-content: center;
}


#otherVideos{
    overflow: auto;
    white-space: nowrap;
}

video{
    display: inline-block !important;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    width: 120px;
    height: 120px;
    max-width: 400 !important;
}

#otherFace{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}



#cameras{
    margin-left: 5%;
    margin-right: 5%;
}
.inner_center{
    margin-left: auto;
    margin-right: auto;
}
#micGain{
    display: block;
    width: 200px;

}
.mycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

#gainValue{
    margin-left: 20px;
    margin-top: 10px;
    width: 30px;
}


h1{
    text-align: center;
    padding: 25px;
}

h2{
    text-align: center;
    margin-bottom: auto !important;
}

header{
    padding: 0 !important;
    margin-bottom: auto !important;
}

main{
    padding: 0 !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#roomInput{
    margin-left: 5%;
    margin-right: 5%;
}